%h1
  = link_to @match.start_time.to_date, @match
  #{@match.home_team.name} vs #{@match.away_team.name}

%h2
  Scores

%p
  #{link_to @match.home_team.name, @match.home_team}: #{@match.home_score}

%p
  #{link_to @match.away_team.name, @match.away_team}: #{@match.away_score}

%h4
  #{@match.winning_team.name} wins!
